{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No-Code Platform</title>
    <link type = 'text/css' href = "{% static 'NoCode/css/styles.css'%}" rel="stylesheet">
</head>
<body>
<ul id = "navbar">
    <li><a href ="#">Main</a></li>
    <li><a href ="#">Tests</a></li>
    <li><a href ="#">Custom Figure</a></li>
    <li><a href ="#">About</a></li>
</ul>
<h1>No-Code Platform for <span class = "ThirdD"> 3D perfomance tests</span></h1>
  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>

<div class = "selwrapper">
    <p>Figure
    <Select class = "sel" id = "sel">
        {% for f in figures %}
        <option value="{{f.name}}">{{f.name}}</option>
        {% endfor %}
    </Select>
        </p>
    <p> Size
        <Select class = "sel" >

    </Select>
    </p>
    <script>
        function get3dPage() {
        var select = document.getElementById("sel");
        var value = select.value;
        window.open('/tests?name='+value, '_blank');
        }
    </script>
    <button onClick = "get3dPage()"> Сделать красиво </button>

</div>
</body>
</html>